@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@500;700;800&family=Abril+Fatface&display=swap");
@import "tailwindcss";
@import "primeicons/primeicons.css";

html {
  scroll-behavior: smooth;
  font-family: "Inter", "Lato", Arial, sans-serif;
}

/* h1 {
  font-family: "Abril Fatface", "Montserrat", Arial, sans-serif;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Inter", Arial, sans-serif;
}
